---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = 'ブログのホームページ';
---

<BaseLayout pageTitle={pageTitle}>
	<h2>ブログのサブタイトル</h2>
	<Greeting client:load messages={['Hi', 'Hello', 'Howdy', 'Hey there']} />
</BaseLayout>
