---
// デプロイ時のサブディレクトリを考慮したリンク文字列を生成する。
function href(s: string): string {
	return `${import.meta.env.BASE_URL}${s}`;
}
---

<div class="nav-links">
	<a href={href('')}>Home</a>
	<a href={href('about/')}>About</a>
	<a href={href('blog/')}>Blog</a>
	<a href={href('tags/')}>Tags</a>
</div>
